# Build artifacts
__pycache__/
*.py[cod]
*$py.class
dist/
helperscripts/
build/
*.egg-info/
*.egg

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.ruff_cache/

# Virtual environments
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
scripts/data/*
scripts/manual_plots/*
tests/test_experiment/*
experiment/*
demo_plugin_system.py

#Src specific
src/ada_verona/data/*
src/ada_verona/tests/test_experiment/*
src/ada_verona/experiment/*
src/ada_verona/data/*
src/ada_verona/scripts/data/*

*.log



# Keep .gitkeep files
!**/.gitkeep