name: Pytest with Coverage

on:
  push:
    branches: ["main", "coverage-repair"]
  pull_request:
      branches: ["main", "coverage-repair"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest
        permissions:
          id-token: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
        
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"
        
            - name: Cache venv
              uses: actions/cache@v4
              with:
                path: .venv
                key: venv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
                restore-keys: venv-${{ runner.os }}-
        
            - name: Install uv and create environment
              run: |
                pip install uv
                uv venv
                source .venv/bin/activate
                uv sync --dev
                uv pip install -e .
        
            - name: Run pytest with coverage
              run: |
                source .venv/bin/activate
                coverage run -m pytest tests/ --cov --cov-report=xml

            - name: Upload coverage to codecov
              uses: codecov/codecov-action@main
              with:
                fail_ci_if_error: true
                token: ${{ secrets.CODECOV_TOKEN }}
                verbose: true
